{% extends "base.html" %}

{% block content %}
    <h1>Админка</h1>
    <table>
                <tr>
        <td>id</td>
    <td>Палата</td>
    <td>Кровать</td>
    <td>Дата</td>
    <td>Коментарий</td>
    <td>Активность</td>
    </tr>
    {% for patient in patients %}
        <tr>
        <td>{{ patient.id }}</td>
    <td>{{ patient.ward }}</td>
    <td>{{ patient.bed }}</td>
    <td>{{ patient.datetime }}</td>
    <td>{{ patient.comment }}</td>
            <td>{{ patient.active }}</td>
    </tr>
        {% endfor %}
    </table>

<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            id<br>
            {{ form.id(size=32) }}
        </p>
        <p>{{ form.update() }}</p>
    </form>
{% endblock %}