<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация сертификата</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>
<div class="background"></div>
<form action="#" id="registrationUser" class="form">
    <h2 class="title">Регистрация</h2>
    <div class="form-item">
        <label for="first_name" class="form-item__label">Имя</label>
        <input type="text" id="first_name" class="form-item__input" placeholder="first_name">
    </div>
    <div class="form-item">
        <label for="last_name" class="form-item__label">Фамилия</label>
        <input type="text" id="last_name" class="form-item__input" placeholder="last_name">
    </div>
    <div class="form-item">
        <label for="planet_name" class="form-item__label">Планета</label>
        <input type="text" id="planet_name" class="form-item__input" placeholder="planet_name">
    </div>
    <div class="form-item">
        <button type="submit" class="submit">
            Отправить
        </button>
    </div>
</form>

<script>
    function getTime() {
        const date = new Date(),
            minutes = date.getMinutes(),
            hours = date.getHours(),
            seconds = date.getSeconds(),
            year = date.getFullYear(),
            day = date.getDate(),
            month = date.getMonth()+1
        return `${day<10?`0${day}`:day}.${month<10?`0${month}`:month}.${year} ${hours<10?`0${hours}`:hours}:${minutes<10?`0${minutes}`:minutes}:${seconds<10?`0${seconds}`:seconds}`;
    }
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
    document.querySelector('#registrationUser').addEventListener('submit',function(e){
        e.preventDefault()
        localStorage.setItem('id',uuidv4())
        localStorage.setItem('first_name',document.querySelector('#first_name').value)
        localStorage.setItem('last_name',document.querySelector('#last_name').value)
        localStorage.setItem('planet_name',document.querySelector('#planet_name').value)
        localStorage.setItem('date',getTime())
        window.location.href ='certificate.html'
    })
</script>
</body>
</html>